*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    background-color:rgb(red, green, rgb(248, 248, 248));
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size:50px;
    text-align: center;
    margin-top: 50px;
    
}
.rect{
    display: flex;
}
#main{
    height:100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.shape{
    height: 200px;
    width:200px;
    border: 2px solid black;
    font-family: "montserrat";
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}